@model AlphaApplication.Models.MeetingRoom

@{
    ViewBag.Title = "AddRoom";
}
<style>
    .h {
        margin-left: 20px;
    }
</style>
<h2>Добавить комнату</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NumberRoom, "Номер комнаты", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberRoom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberRoom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountSeats, "Количество сидений", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CountSeats, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CountSeats, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Projector, "Наличие проектора", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="h">
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Projector)
                        @Html.ValidationMessageFor(model => model.Projector, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MarkerBoard, "Наличие маркерной доски", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="h">
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.MarkerBoard)
                        @Html.ValidationMessageFor(model => model.MarkerBoard, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, "Описание комнаты", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <p><font color="red" size="3">@ViewBag.inscription</font></p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Создать" class="btn btn-default" />
                </div>
            </div>
        </div>
}
<div>
    @Html.ActionLink("Вернуться к выбору комнаты", "Index")
</div>
